<div class="ref-wrapper">

    {% if include.researchgate_id %}
        <div class="ref-thumb">
            <a href="/assets/pdf/{{ include.researchgate_id }}.png" target="view">
                <img class="ref-img" src="/assets/pdf/{{ include.researchgate_id }}_sml.png" />
            </a>
        </div>
    {% else %}
        <div class="ref-thumb">
            <a href="/assets/pdf/ref_in_progress.png" target="view">
                <img class="ref-img" src="/assets/pdf/ref_in_progress.png" />
            </a>
        </div>
    {% endif %}


    <p class="ref">
        {% assign authors = include.authors | split: "|" %}
        {% for author in authors %}
            {% if author != authors.last%}
                {{ author }},
            {% elsif include.file %}
                {% if authors.size > 1 %}
                    and {{ author }}
                {% else %}
                    {{ author }}
                {% endif %}
            {% endif %}
        {% endfor %}
        ({{ include.year}})
        <b>{{ include.title }}</b>,
        <i>{{ include.proceedings }}</i>,
        {{ include.date }} {{ include.year }},
        {{ include.place }},
        pp. {{include.pages}}.
        {% if include.cumincad_id %}
            <a href="http://papers.cumincad.org/cgi-bin/works/paper/{{ include.cumincad_id }}"  target="view">Cumincad</a>,
        {% endif %}
        {% if include.researchgate_id %}
            <a href="https://www.researchgate.net/publication/{{ include.researchgate_id }}"  target="view">Research Gate</a>,
            <a href="/assets/pdf/{{ include.researchgate_id }}.pdf" target="view">PDF</a>.
        {% endif %}
    </p>


</div>
