<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

{% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css' }}">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>

    <div class="wrapper">

      <header>

        <h1 class="parent"><a href="http://design-automation.net">Design Automation Lab</a></h1>
        <h1 class="title"><a href="/index.html">Patrick Janssen</a></h1>

        <h6>Associate Professor</h6>
        <h6><a href="http://www.arch.nus.edu.sg">Department of Architecture</a></h6>
        <h6><a href="http://www.nus.edu.sg">National University of Singapore</a></h6>

        <br />

        <h6>Adjunct Associate Professor</h6>
        <h6><a href="http://3d.bk.tudelft.nl/">3D Geoinformation</a></h6>
        <h6><a href="http://www.tudelft.nl/en/architecture-and-the-built-environment/about-the-faculty/departments/urbanism/">Department of Urbanism</a></h6>
        <h6><a href="https://www.tudelft.nl/en/architecture-and-the-built-environment">TU Delft</a></h6>

        <br />

        <div class="nav-wrapper">
          <h1 class="nav"><a href="/index.html">Overview</a></h1>
          <h1 class="nav"><a href="/pages/research.html">Research</a></h1>
          <h1 class="nav"><a href="/pages/books_journals.html">Books and Journals</a></h1>
          <h1 class="nav"><a href="/pages/conferences.html">Conferences</a></h1>
          <h1 class="nav"><a href="/pages/presentations.html">Presentations</a></h1>
          <h1 class="nav"><a href="/pages/software.html">Software</a></h1>
          <h1 class="nav"><a href="/pages/teaching.html">Teaching</a></h1>
          <h1 class="nav"><a href="/pages/students.html">Students</a></h1>
          <h1 class="nav"><a href="/pages/service.html">Service</a></h1>
          <h1 class="nav"><a href="/pages/cv.html">CV</a></h1>
          <h1 class="nav"><a href="/pages/links.html">Links</a></h1>
          <h1 class="nav"><a href="/pages/contact.html">Contact</a></h1>
        </div>

      </header>

      <section>
        {{ content }}
      </section>

    </div>

    <div id="modalImgDisplay" class="modal">
      <!-- The Close Button -->
      <span class="close" onClick="closeModal()">&times;</span>
      <!-- Modal Content (The Image) -->
      <img class="modal-content" id="modalImg">
    </div>

    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>

    <script>
      // Open the Modal
      function openModal(src) {
        document.getElementById('modalImgDisplay').style.display = "block";
        document.getElementById('modalImg').src = src;
      }
      // Close the Modal
      function closeModal() {
        document.getElementById('modalImgDisplay').style.display = "none";
        document.getElementById('modalImg').src = "";
      }
    </script>

    {% if site.google_analytics %}
      <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', '{{ site.google_analytics }}', 'auto');
          ga('send', 'pageview');
      </script>
    {% endif %}

  </body>
</html>
